.carousel-inner img, .carousel-inner video {
  height: 400px;
  object-fit: contain;
}
.carousel-container {
  width: 100%;
}
#imageCarousel .carousel-caption {
  color: black; /* Black captions for image carousel */
}
#videoCarousel .carousel-caption {
  color: white; /* White captions for video carousel */
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  width: 10%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}
.product-section {
  padding: 20px;
  background-color: #f8f9fa;
}
.product-image {
  max-width: 100%;
  height: auto;
  width: 400px;
}
/* Navbar Styles */
.navbar {
  padding: 10px 20px; /* Add padding */
}
.navbar-nav {
  margin-left: auto; /* Align navbar items to the right */
}
.navbar-brand {
  margin-right: auto; /* Keep brand to the left */
}
h1{
  margin-left: 10px;
}

